---
import { Image } from 'astro:assets';
import DiscordIconSvg from '../assets/discord-icon.svg';
import GiantTypeGPULogo from '../assets/giant-typegpu.svg';
import GithubIconSvg from '../assets/github-icon.svg';
import Illustration from '../assets/illustration.svg';
import SwmLogoSvg from '../assets/swm-logo.svg';
import SwmLogomarkSvg from '../assets/swm-logomark.svg';
import TypeGPULogoLight from '../assets/typegpu-logo-light.svg';
import TypeGPULogomarkMonolight from '../assets/typegpu-logomark-monolight.svg';
import FeatureCard from '../components/FeatureCard.astro';
import FooterLink from '../components/FooterLink.astro';
import GetStartedButton from '../components/legacy/GetStartedButton.astro';
import MilestoneBindGroupsBadge from '../components/roadmap/MilestoneBindGroupsBadge.astro';
import MilestoneBuffersBadge from '../components/roadmap/MilestoneBuffersBadge.astro';
import MilestoneCodeBadge from '../components/roadmap/MilestoneCodeBadge.astro';
import MilestoneFunctionsBadge from '../components/roadmap/MilestoneFunctionsBadge.astro';
import MilestoneLinkerBadge from '../components/roadmap/MilestoneLinkerBadge.astro';
import MilestonePipelinesBadge from '../components/roadmap/MilestonePipelinesBadge.astro';
import RoadMapStep from '../components/roadmap/RoadMapStep.astro';
import PageLayout from '../layouts/PageLayout.astro';

const showcaseVideoResolution = [2048, 1200];
---

<PageLayout title="TypeGPU – Type-safe WebGPU toolkit" forceTheme="light">
  <main
    class="bg-tameplum-50 flex flex-col items-center gap-10 md:gap-20 lg:gap-30"
  >
    <section
      class="bg-grayscale-0 relative box-border flex flex-col items-center justify-between gap-10 self-stretch rounded-b-[2.5rem] md:max-h-[125vh] md:gap-0 md:rounded-b-[5rem] md:pb-90 lg:pb-120"
    >
      <header
        class="flex h-20 shrink-0 items-center justify-between self-stretch px-4 sm:h-24 sm:px-7.5 md:h-32 md:px-10 lg:h-44 lg:px-12.5"
      >
        <a href="https://swmansion.com" target="_blank" rel="noreferrer">
          <Image
            src={SwmLogoSvg}
            class="h-10 w-auto opacity-75 sm:h-12 md:h-16 lg:h-20"
            alt="Software Mansion Logo"
          />
        </a>

        <div class="flex items-center gap-4">
          <a
            href="https://discord.gg/8jpfgDqPcM"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={DiscordIconSvg}
              class="h-6 w-auto opacity-75 sm:h-8 md:h-10"
              alt="Discord Logo"
            />
          </a>
          <a
            href="https://github.com/software-mansion/TypeGPU"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={GithubIconSvg}
              class="h-6 w-6 opacity-75 sm:h-8 sm:w-8 md:h-10 md:w-10"
              alt="GitHub Logo"
            />
          </a>
        </div>
      </header>

      <div
        class="relative isolate z-10 box-border flex max-w-7xl flex-col items-center justify-center gap-10 px-4 md:max-h-112 lg:max-h-137 lg:min-h-[40vh]"
      >
        <div class="bg-blurred-radial-purple absolute inset-0 -z-10">
          {/* Blurred background */}
        </div>
        <Image
          src={TypeGPULogoLight}
          alt="TypeGPU Logo"
          class="w-58 md:w-[20rem] lg:w-[24rem]"
        />
        <h1 class="mb-4 text-center font-normal text-pretty">
          TypeScript library that enhances the WebGPU <br
            class="hidden sm:block"
          /> API, allowing resource management in <br class="hidden sm:block" />
          a type-safe, declarative way.
        </h1>

        <div
          class="flex w-full flex-col items-center justify-center gap-4 sm:flex-row lg:gap-10"
        >
          <GetStartedButton />

          <a
            class="shadow-tameplum-20 box-border w-full rounded-[6.25rem] bg-white px-6 py-4 text-center text-base text-black/75 no-underline shadow transition-all hover:text-black hover:shadow-md sm:w-auto md:px-7 md:py-5 md:text-xl lg:px-8 lg:py-6 lg:text-2xl"
            href="/TypeGPU/examples">Explore interactive examples</a
          >
        </div>
      </div>

      <div
        class="bg-grayscale-0 relative box-border w-138 max-w-full overflow-hidden rounded-4xl p-6 sm:mb-10 md:absolute md:top-full md:w-234 md:-translate-y-[50%] md:rounded-[3.75rem] md:p-10 lg:w-280 lg:rounded-[5rem] lg:p-14"
      >
        <video
          src="/TypeGPU/assets/migration.mp4"
          style={{
            aspectRatio:
              showcaseVideoResolution[0] / showcaseVideoResolution[1],
          }}
          autoplay
          loop
          muted
          controls
          playsinline
          class="shadow-tameplum-800/50 w-full rounded-2xl shadow-lg md:rounded-[1.875rem] lg:rounded-[2.5rem]"
        ></video>
      </div>
    </section>

    <div class="hidden md:block md:h-52 lg:h-64"></div>

    <section
      class="box-border flex max-w-138 flex-col justify-center gap-10 px-4 md:max-w-214 md:gap-15 lg:max-w-340 lg:gap-20"
    >
      <div>
        <h2 class="center mb-4 text-center font-normal md:mb-8 lg:mb-8">
          Get to know TypeGPU
        </h2>
        <p class="text-center text-pretty">
          Discover how it can change the way you work with GPU rendering and
          computing.
        </p>
      </div>

      <div
        class="grid max-w-6xl grid-flow-row gap-4 md:mb-20 md:grid-cols-2 md:gap-6 lg:gap-8"
      >
        <FeatureCard image="task-check" header="Easily encode and decode"
          >Leveraging <a
            href="https://github.com/iwoplaza/typed-binary"
            target="_blank"
            class="text-blue-600 no-underline"
            rel="noreferrer noopener">typed-binary</a
          > ensures you don't have to think about bytes when writing your GPU programs
          ever again.</FeatureCard
        >
        <FeatureCard
          image="grid-mixed"
          header="Compose data types"
          class="md:translate-y-20"
          >Complex data types like structs and arrays can be easily described,
          and TypeScript automatically validates outgoing and incoming data.</FeatureCard
        >
        <FeatureCard image="atom" header="Run it on React Native"
          >Works on React Native thanks to the recently announced
          <a
            href="https://github.com/wcandillon/react-native-webgpu"
            target="_blank"
            class="text-blue-600 no-underline"
            rel="noreferrer noopener">react-native-webgpu</a
          >
          library.</FeatureCard
        >

        <article
          class="bg-grayscale-0 box-border flex h-50 items-center justify-center rounded-4xl p-6 opacity-50 md:h-88 md:translate-y-20 md:rounded-[3.75rem] md:p-10 lg:h-112 lg:rounded-[5rem] lg:p-14"
        >
          <h3 class="text-grayscale-80 font-normal">More coming soon...</h3>
        </article>
      </div>
    </section>

    {/* Roadmap Section */}
    <div
      class="box-border flex w-full flex-col items-center overflow-hidden rounded-[2.5rem] bg-white py-12 md:my-8 md:rounded-[5rem] md:p-20 lg:my-20 lg:p-32"
    >
      <section
        class="box-border flex max-w-138 flex-col items-center justify-center gap-10 px-4 md:max-w-214 md:gap-15 lg:max-w-340 lg:gap-20"
      >
        <div>
          <h2 class="center mb-4 text-center font-normal md:mb-8">Roadmap</h2>
          <p class="max-w-240 text-center text-pretty">
            The road to end-to-end type safety on the GPU involves implementing
            several interoperating primitives. Below is our roadmap of features
            that aim to fulfill that goal.
          </p>
        </div>

        <div class="max-w-200">
          <ol class="m-0 flex flex-col p-0">
            <RoadMapStep title="Data structures & buffers" releasedIn="0.1">
              <MilestoneBuffersBadge slot="visual" />
              The WebGPU Shading Language (WGSL) gives developers a rich sense of
              the structure of the data that it operates on. This is lost when accessed
              through JavaScript, as the APIs accept raw byte buffers. TypeGPU regains
              that information on the JavaScript side and handles proper byte alignment
              and padding automatically.
            </RoadMapStep>
            <RoadMapStep title="Bind groups" releasedIn="0.2">
              <MilestoneBindGroupsBadge slot="visual" />
              Connecting resources to shaders via numeric indices can lead to problems
              that are hard to catch at build-time/CI. By using named keys and typed
              data structures we can ensure that the provided resources are what the
              shader expects.
            </RoadMapStep>
            <RoadMapStep title="Linker" releasedIn="0.3">
              <MilestoneLinkerBadge slot="visual" />
              No more duplication between JS and GPU object definitions. A dedicated
              linker combines WGSL code with TypeGPU objects it references, producing
              shader code ready to be used in pipelines.
            </RoadMapStep>
            <RoadMapStep title="Functions" releasedIn="0.6">
              <MilestoneFunctionsBadge slot="visual" />
              By wrapping each function with a "typed shell", they can be moved across
              different files/modules. Any resources (variables, buffers, etc.) in
              the external scope can be accessed inside the function.
            </RoadMapStep>
            <RoadMapStep title="Pipelines">
              <MilestonePipelinesBadge slot="visual" />
              To ensure that shader stages match each other, and pipeline constants
              are filled with proper values, TypeGPU plans to provide typed pipelines.
            </RoadMapStep>
            <RoadMapStep title="Imperative code">
              <MilestoneCodeBadge slot="visual" />
              By giving developers the ability to write imperative shader code in
              TypeScript, we can leverage the excellent TypeScript LSP to complete
              the type safety puzzle, bridging the gap between our API and type-safe
              shader code.
            </RoadMapStep>
          </ol>
        </div>

        <article class="relative isolate flex flex-col items-center gap-5">
          <div
            class="bg-blurred-radial-tameplum absolute -inset-x-40 inset-y-0 -bottom-20 -z-10"
          >
            {/* Blurred background */}
          </div>
          <p class="max-w-200 text-center text-pretty">
            Take active part in the development by joining our discussions.
          </p>
          <div class="flex flex-col items-center gap-3 sm:flex-row">
            <a
              class="shadow-tameplum-20 box-border inline-flex items-center justify-between gap-3 rounded-[6.25rem] bg-white px-6 py-4 text-center text-base text-black/75 no-underline shadow transition-all hover:text-black hover:shadow-md sm:w-auto md:px-7 md:py-5 md:text-xl lg:px-8 lg:py-6 lg:text-2xl"
              href="https://github.com/software-mansion/TypeGPU/discussions"
              target="_blank"
              rel="noreferrer"
            >
              <Image
                src={GithubIconSvg}
                class="h-7 w-auto opacity-75"
                alt="GitHub Logo"
              />
              GitHub Discussions</a
            >
            <a
              class="shadow-tameplum-20 box-border inline-flex w-fit items-center justify-between gap-3 rounded-[6.25rem] bg-white px-6 py-4 text-center text-base text-black/75 no-underline shadow transition-all hover:text-black hover:shadow-md sm:w-auto md:px-7 md:py-5 md:text-xl lg:px-8 lg:py-6 lg:text-2xl"
              href="https://discord.gg/8jpfgDqPcM"
              target="_blank"
              rel="noreferrer"
            >
              <Image
                src={DiscordIconSvg}
                class="h-7 w-auto opacity-75"
                alt="Discord Logo"
              /> Discord Server</a
            >
          </div>
        </article>
      </section>
    </div>

    <section
      class="box-border flex w-full max-w-138 flex-col items-center gap-10 px-4 py-5 md:gap-15 lg:max-w-340 lg:gap-20"
    >
      <div>
        <h1 class="mb-4 text-center font-normal md:mb-6 lg:mb-8">
          Got hooked?
        </h1>
        <p class="text-center text-pretty">
          Try TypeGPU and reshape your GPU rendering and computing.
        </p>
      </div>

      <GetStartedButton />

      <Image
        src={Illustration}
        class="hidden w-154 max-w-full md:block lg:w-4xl"
        alt="An illustration showing the TypeGPU plums in a bowl."
      />
    </section>

    <section></section>
  </main>

  <footer class="text-micro bg-tameplum-50">
    <div
      class="bg-grayscale-0 grid place-items-center gap-20 self-stretch rounded-t-[2.5rem] px-4 pt-10 pb-10 md:rounded-t-[5rem] md:pt-20 md:pb-0"
    >
      <div
        class="flex w-full max-w-138 flex-col items-center gap-10 md:max-w-234 lg:max-w-340 lg:gap-20"
      >
        <div class="w-full">
          <Image
            src={TypeGPULogomarkMonolight}
            alt="TypeGPU logomark"
            class="h-12 w-12 pb-4"
          />
          <div
            class="text-grayscale-80 flex flex-col justify-between gap-10 md:flex-row"
          >
            <div class="text-pretty md:max-w-94 lg:max-w-108">
              <span class="font-medium">TypeGPU</span>
              <span class="text-grayscale-100">&mdash;</span> TypeScript library that
              enhances the WebGPU API, allowing resource management in a type-safe,
              declarative way.
            </div>

            <div class="grid gap-6 md:w-[24rem] lg:w-108">
              <FooterLink
                label="Made by Software Mansion"
                callToAction="Learn more about us"
                href="https://swmansion.com"
              />

              <FooterLink
                label="Check what's underneath"
                callToAction="Open Github repository"
                href="https://github.com/software-mansion/TypeGPU"
              />

              <FooterLink
                label="Share feedback with us"
                callToAction="Join our Discord server"
                href="https://discord.gg/8jpfgDqPcM"
              />
              <FooterLink
                label="Privacy Policy"
                callToAction="Read our privacy policy"
                href="https://swmansion.com/privacy"
              />
            </div>
          </div>
        </div>

        <div class="text-grayscale-100 flex items-center gap-4 self-start">
          <Image src={SwmLogomarkSvg} alt="Software Mansion Logomark" />
          &copy; {new Date().getFullYear()} Software Mansion S.A.
        </div>

        <div class="hidden md:grid">
          <div
            class="z-10 col-start-1 row-start-1 bg-gradient-to-b from-[#FFF0] to-[#FFF]"
          >
          </div>
          <Image
            class="col-start-1 row-start-1 h-auto w-full"
            src={GiantTypeGPULogo}
            alt="A giant TypeGPU logo."
          />
        </div>
      </div>
    </div>
  </footer>
</PageLayout>
