---
import { Image } from "astro:assets";
import DiscordIconSvg from "../../assets/discord-icon.svg";
import GiantTypeGPULogo from "../../assets/giant-typegpu.svg";
import GithubIconSvg from "../../assets/github-icon.svg";
import LightModeIconSvg from "../../assets/sun.svg";
import DarkModeIconSvg from "../../assets/moon.svg";
import Illustration from "../../assets/illustration.svg";
import SwmLogoSvg from "../../assets/typegpu-logo-light.svg";
import SwmLogomarkSvg from "../../assets/swm-logomark.svg";
import TypeGPULogoLight from "../../assets/typegpu-logomark-light.svg";
import TypeGPULogomarkMonolight from "../../assets/typegpu-logomark-monolight.svg";
import FeatureCard from "../../components/FeatureCard.astro";
import FooterLink from "../../components/FooterLink.astro";
import GetStartedButton from "../../components/GetStartedButton.astro";
import MilestoneBindGroupsBadge from "../../components/roadmap/MilestoneBindGroupsBadge.astro";
import MilestoneBuffersBadge from "../../components/roadmap/MilestoneBuffersBadge.astro";
import MilestoneCodeBadge from "../../components/roadmap/MilestoneCodeBadge.astro";
import MilestoneFunctionsBadge from "../../components/roadmap/MilestoneFunctionsBadge.astro";
import MilestoneLinkerBadge from "../../components/roadmap/MilestoneLinkerBadge.astro";
import MilestonePipelinesBadge from "../../components/roadmap/MilestonePipelinesBadge.astro";
import RoadMapStep from "../../components/roadmap/RoadMapStep.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import GradientTitle from "../../components/GradientTitle.astro";
import CodePen from "../../components/CodePen.astro";
import CodeButton from "../../components/CodeButton.astro";
import CodeShowcase from "../../components/CodeShowcase.astro";
import TgpuExamples from "../../components/TgpuExamples.astro";
import Backlog from "../../components/Backlog.astro";
import Videos from "../../components/Videos.astro";
---

<PageLayout title="TypeGPU – Type-safe WebGPU toolkit">
  <main>
    <header
      class="flex justify-between items-center self-stretch px-4 sm:px-7.5 md:px-10 lg:px-12.5 h-24 shrink-0"
    >
      <a href="https://swmansion.com" target="_blank" rel="noreferrer">
        <Image
          src={TypeGPULogoLight}
          class="block md:hidden w-auto h-14"
          alt="Software Mansion Logo (Mobile)"
        />
        <Image
          src={SwmLogoSvg}
          class="hidden md:block w-auto h-14"
          alt="Software Mansion Logo (Desktop)"
        />
      </a>

      <div class="flex items-center gap-10 h-4">
        <!-- Light / Dark -->
        <div class="grid grid-cols-2 border">
          <a class="place-items-center grid bg-blue-900 p-2">
            <Image
              src={LightModeIconSvg}
              class="w-6 h-6 text-white"
              alt="Light Mode"
            />
          </a>

          <a class="place-items-center grid bg-white p-2">
            <Image
              src={DarkModeIconSvg}
              class="w-6 h-6 text-blue-900"
              alt="Dark Mode"
            />
          </a>
        </div>
        <!-- Docs -->
        <a
          href="https://github.com/software-mansion/TypeGPU/getting-started"
          target="_blank"
          class="no-underline"
          rel="noreferrer"
        >
          <p class="text-blue-900">Docs</p>
        </a>
        <!-- GitHub -->
        <a
          href="https://github.com/software-mansion/TypeGPU"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src={GithubIconSvg}
            class="opacity-75 fill-blue-900 w-6 sm:w-8 md:w-10 h-6 sm:h-8 md:h-10"
            alt="GitHub Logo"
          />
        </a>
      </div>
    </header>
  </main>

  {/* Hero Section */}
  <section class="flex flex-col items-center mx-auto lg:px-72 lg:max-w-340">
    <div class="flex flex-col">
      <div class="font-extrabold text-blue-900 text-7xl">
        Type
        <GradientTitle title="GPU" />
      </div>
      <div class="text-blue-950 text-xl text-pretty">
        A modular and open-ended toolkit for WebGPU, with advanced type
        interface and ability to write shaders in TypeScript.
        <!-- <br class="hidden sm:block" /> -->
      </div>
      <div class="flex sm:flex-row flex-col gap-4 my-20">
        <GetStartedButton />
        <a
          class="box-border bg-white shadow shadow-tameplum-20 hover:shadow-md px-6 md:px-7 lg:px-8 py-4 md:py-5 lg:py-6 border border-accent-500 w-full sm:w-auto text-black/75 hover:text-black text-base md:text-xl lg:text-2xl text-center no-underline transition-all"
          href="/TypeGPU/examples">See examples</a
        >
      </div>
    </div>
  </section>

  {/* Code Showcase */}
  <div class="mx-auto lg:px-72 lg:max-w-340">
    <CodeShowcase />
  </div>

  {/* TypeGPU examples */}
  <div class="mx-auto lg:px-72 lg:max-w-340">
    <div class="my-12">
      <h2 class="font-normal text-blue-950 text-4xl center">
        Explore TypeGPU examples
      </h2>
      <p class="text-blue-900 text-2xl text-pretty">
        From interactive 3D apps to custom shaders and type-safe libraries,
        TypeGPU gives you the tools to build anything WebGPU can do.
      </p>
    </div>
    <TgpuExamples />
  </div>

  {/* Videos */}
  <div class="mx-auto lg:px-72 lg:max-w-340">
    <Videos />
  </div>
</PageLayout>

{/* Backlog */}
<div class="mx-auto lg:px-72 lg:max-w-340">
  <div class="my-12">
    <h2 class="font-normal text-blue-950 text-4xl center">
      What's around the corner?
    </h2>
    <p class="text-blue-900 text-2xl text-pretty">
      Our journey toward end-to-end type safety involves several interoperating
      primitives – explore our live board to see what features are coming next.
    </p>
  </div>
  <Backlog />
</div>

{/* Call to Action Section */}
<section
  class="flex flex-col items-center gap-16 mx-auto lg:px-72 lg:max-w-340"
>
  <div
    class="flex flex-row items-center gap-3 font-bold text-blue-950 text-7xl"
  >
    Ready to try out
    <GradientTitle title="TypeGPU" />
    ?
  </div>
  <GetStartedButton />
</section>

{/* Footer Section */}
<footer
  class="flex flex-col items-center gap-10 md:gap-15 lg:gap-20 bg-gradient-to-b from-white mt-20 to-accent-50"
>
  <div
    class="flex flex-col items-center gap-12 mx-auto px-72 py-10 lg:max-w-340 text-blue-950"
  >
    <div class="font-bold text-7xl">
      We are
      <GradientTitle title="Software Mansion" />
    </div>
    <div class="mb-4 text-2xl text-pretty">
      We’re a software company built around improving developer experience and
      bringing to life the innovative ideas of our clients. Do you have a
      software project that we can help you with?
    </div>
    <GetStartedButton
      title="Hire us"
      href="https://swmansion.com/contact/projects?utm_source=react-native-executorch&utm_medium=docs"
    />

    <div
      class="gap-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 bg-white mx-auto px-4 py-8 w-full max-w-7xl text-center"
    >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native Reanimated</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native Gesture Handler</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native Screens</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native SVG</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native Audio API</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >React Native ExecuTorch</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >TypeGPU</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >Radon IDE</a
      >
      <a
        href="#"
        class="text-blue-950 no-underline transition-colors hover:text-accent-700"
        >BayoJajo</a
      >
    </div>
    <div class="flex flex-col items-center gap-4 text-grayscale-100 pb-4">
      &copy; Software Mansion {new Date().getFullYear()}. All trademarks and
      copyrights belong to their respective owners.

      <Image src={SwmLogomarkSvg} alt="Software Mansion Logomark" />
    </div>
  </div>
</footer>

<!-- remove FooterLink -->
