---
import { Image } from "astro:assets";
import DiscordIconSvg from "../../assets/discord-icon.svg";
import GiantTypeGPULogo from "../../assets/giant-typegpu.svg";
import GithubIconSvg from "../../assets/github-icon.svg";
import LightModeIconSvg from "../../assets/sun.svg";
import DarkModeIconSvg from "../../assets/moon.svg";
import Illustration from "../../assets/illustration.svg";
import SwmLogoSvg from "../../assets/typegpu-logo-light.svg";
import SwmLogomarkSvg from "../../assets/swm-logomark.svg";
import TypeGPULogoLight from "../../assets/typegpu-logo-light.svg";
import TypeGPULogomarkMonolight from "../../assets/typegpu-logomark-monolight.svg";
import FeatureCard from "../../components/FeatureCard.astro";
import FooterLink from "../../components/FooterLink.astro";
import GetStartedButton from "../../components/GetStartedButton.astro";
import MilestoneBindGroupsBadge from "../../components/roadmap/MilestoneBindGroupsBadge.astro";
import MilestoneBuffersBadge from "../../components/roadmap/MilestoneBuffersBadge.astro";
import MilestoneCodeBadge from "../../components/roadmap/MilestoneCodeBadge.astro";
import MilestoneFunctionsBadge from "../../components/roadmap/MilestoneFunctionsBadge.astro";
import MilestoneLinkerBadge from "../../components/roadmap/MilestoneLinkerBadge.astro";
import MilestonePipelinesBadge from "../../components/roadmap/MilestonePipelinesBadge.astro";
import RoadMapStep from "../../components/roadmap/RoadMapStep.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import GradientTitle from "../../components/GradientTitle.astro";
import CodePen from "../../components/CodePen.astro";
import CodeButton from "../../components/CodeButton.astro";
import CodeShowcase from "../../components/CodeShowcase.astro";
---

<PageLayout title="TypeGPU – Type-safe WebGPU toolkit">
  <main>
    <header
      class="flex justify-between items-center self-stretch shrink-0 h-24 px-4 sm:px-7.5 md:px-10 lg:px-12.5"
    >
      <a href="https://swmansion.com" target="_blank" rel="noreferrer">
        <Image
          src={SwmLogoSvg}
          class="w-auto h-14"
          alt="Software Mansion Logo"
        />
      </a>

      <div class="flex items-center h-4 gap-10">
        <!-- Light / Dark -->
        <div class="grid grid-cols-2 border">
          <a class="bg-blue-900 grid place-items-center p-2">
            <Image
              src={LightModeIconSvg}
              class="w-6 h-6 text-white"
              alt="Light Mode"
            />
          </a>

          <a class="bg-white grid place-items-center p-2">
            <Image
              src={DarkModeIconSvg}
              class="w-6 h-6 text-blue-900"
              alt="Dark Mode"
            />
          </a>
        </div>
        <!-- Docs -->
        <a
          href="https://github.com/software-mansion/TypeGPU/getting-started"
          target="_blank"
          class="no-underline"
          rel="noreferrer"
        >
          <p class="text-blue-900">Docs</p>
        </a>
        <!-- GitHub -->
        <a
          href="https://github.com/software-mansion/TypeGPU"
          target="_blank"
          rel="noreferrer"
        >
          <Image
            src={GithubIconSvg}
            class="w-6 h-6 fill-blue-900 opacity-75 sm:w-8 sm:h-8 md:w-10 md:h-10"
            alt="GitHub Logo"
          />
        </a>
      </div>
    </header>
  </main>

  <section
    class="box-border flex flex-col items-center justify-between self-stretch"
  >
    <div
      class="grid grid-rows-2 px-20"
    >
      <div class="text-blue-900 font-extrabold text-7xl">
        Type
        <GradientTitle title="GPU" />
      </div>
      <div class="text-blue-950 text-6xl text-pretty">
        A modular and open-ended toolkit for WebGPU, with advanced type
        interface and ability to write shaders in TypeScript.
        <!-- <br class="hidden sm:block" /> -->
      </div>
      <div class="flex flex-col gap-4 sm:flex-row my-20">
        <GetStartedButton />
        <a
          class="box-border w-full sm:w-auto text-black/75 border border-accent-500 py-4 px-6 md:py-5 md:px-7 lg:py-6 lg:px-8 transition-all shadow hover:shadow-md shadow-tameplum-20 bg-white hover:text-black text-center text-base md:text-xl lg:text-2xl no-underline"
          href="/TypeGPU/examples">See examples</a
        >
      </div>
    </div>
  </section>

  {/* Code Showcase */}
  <CodeShowcase />

  {/* Roadmap Section */}
  <div
    class="box-border flex flex-col items-center bg-white w-full md:my-8 lg:my-20 py-12 md:p-20 lg:p-32 md:rounded-[5rem] rounded-[2.5rem] overflow-hidden"
  >
    <section
      class="box-border flex flex-col items-center justify-center px-4 lg:gap-20 gap-10 md:gap-15 lg:max-w-340 md:max-w-214 max-w-138"
    >
      <div>
        <h2 class="mb-4 font-normal text-center md:mb-8 center">Roadmap</h2>
        <p class="text-center text-pretty max-w-240">
          The road to end-to-end type safety on the GPU involves implementing
          several interoperating primitives. Below is our roadmap of features
          that aim to fulfill that goal.
        </p>
      </div>

      <div class="max-w-200">
        <ol class="flex flex-col m-0 p-0">
          <RoadMapStep title="Data structures & buffers" releasedIn="0.1">
            <MilestoneBuffersBadge slot="visual" />
            The WebGPU Shading Language (WGSL) gives developers a rich sense of the
            structure of the data that it operates on. This is lost when accessed
            through JavaScript, as the APIs accept raw byte buffers. TypeGPU regains
            that information on the JavaScript side and handles proper byte alignment
            and padding automatically.
          </RoadMapStep>
          <RoadMapStep title="Bind groups" releasedIn="0.2">
            <MilestoneBindGroupsBadge slot="visual" />
            Connecting resources to shaders via numeric indices can lead to problems
            that are hard to catch at build-time/CI. By using named keys and typed
            data structures we can ensure that the provided resources are what the
            shader expects.
          </RoadMapStep>
          <RoadMapStep title="Linker" releasedIn="0.3">
            <MilestoneLinkerBadge slot="visual" />
            No more duplication between JS and GPU object definitions. A dedicated
            linker combines WGSL code with TypeGPU objects it references, producing
            shader code ready to be used in pipelines.
          </RoadMapStep>
          <RoadMapStep title="Functions" releasedIn="0.6">
            <MilestoneFunctionsBadge slot="visual" />
            By wrapping each function with a "typed shell", they can be moved across
            different files/modules. Any resources (variables, buffers, etc.) in
            the external scope can be accessed inside the function.
          </RoadMapStep>
          <RoadMapStep title="Pipelines">
            <MilestonePipelinesBadge slot="visual" />
            To ensure that shader stages match each other, and pipeline constants
            are filled with proper values, TypeGPU plans to provide typed pipelines.
          </RoadMapStep>
          <RoadMapStep title="Imperative code">
            <MilestoneCodeBadge slot="visual" />
            By giving developers the ability to write imperative shader code in TypeScript,
            we can leverage the excellent TypeScript LSP to complete the type safety
            puzzle, bridging the gap between our API and type-safe shader code.
          </RoadMapStep>
        </ol>
      </div>

      <article class="isolate relative flex flex-col items-center gap-5">
        <div
          class="absolute -inset-x-40 inset-y-0 -bottom-20 bg-blurred-radial-tameplum -z-10"
        >
          {/* Blurred background */}
        </div>
        <p class="text-center text-pretty max-w-200">
          Take active part in the development by joining our discussions.
        </p>
        <div class="flex flex-col items-center sm:flex-row gap-3">
          <a
            class="inline-flex justify-between items-center rounded-[6.25rem] gap-3 box-border sm:w-auto text-black/75 py-4 px-6 md:py-5 md:px-7 lg:py-6 lg:px-8 transition-all shadow hover:shadow-md shadow-tameplum-20 bg-white hover:text-black text-center text-base md:text-xl lg:text-2xl no-underline"
            href="https://github.com/software-mansion/TypeGPU/discussions"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={GithubIconSvg}
              class="w-auto h-7 opacity-75"
              alt="GitHub Logo"
            />
            GitHub Discussions</a
          >
          <a
            class="inline-flex w-fit justify-between items-center rounded-[6.25rem] gap-3 box-border sm:w-auto text-black/75 py-4 px-6 md:py-5 md:px-7 lg:py-6 lg:px-8 transition-all shadow hover:shadow-md shadow-tameplum-20 bg-white hover:text-black text-center text-base md:text-xl lg:text-2xl no-underline"
            href="https://discord.gg/8jpfgDqPcM"
            target="_blank"
            rel="noreferrer"
          >
            <Image
              src={DiscordIconSvg}
              class="w-auto h-7 opacity-75"
              alt="Discord Logo"
            /> Discord Server</a
          >
        </div>
      </article>
    </section>
  </div>

  {/* Call to Action Section */}
  <section class="flex flex-col items-center gap-16">
    <div
      class="flex flex-row items-center gap-3 font-bold text-blue-950 text-7xl"
    >
      Ready to try out
      <GradientTitle title="TypeGPU" />
      ?
    </div>
    <GetStartedButton />
  </section>
</PageLayout>

{/* Footer Section */}
<footer
  class="mt-20 flex flex-col items-center mx-auto px-4 bg-gradient-to-b from-white to-accent-50 lg:gap-20 gap-10 md:gap-15 "
>
  <div
    class="flex flex-col items-center gap-12 self-stretch mx-40 py-10 text-blue-950"
  >
    <div class="font-bold text-7xl">
      We are
      <GradientTitle title="Software Mansion" />
    </div>
    <p class="font-normal text-pretty mb-4">
      We’re a software company built around improving developer experience and
      bringing to life the innovative ideas of our clients. Do you have a
      software project that we can help you with?
    </p>
    <GetStartedButton
      title="Hire us"
      href="https://swmansion.com/contact/projects?utm_source=react-native-executorch&utm_medium=docs"
    />

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 bg-white gap-8 max-w-7xl mx-auto w-full px-4 py-8 text-center"
    >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native Reanimated</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native Gesture Handler</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native Screens</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native SVG</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native Audio API</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >React Native ExecuTorch</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >TypeGPU</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >Radon IDE</a
      >
      <a
        href="#"
        class="no-underline text-blue-950 hover:text-accent-700 transition-colors"
        >BayoJajo</a
      >
    </div>
    <div class="flex flex-col items-center gap-4 pb-4 text-grayscale-100">
      &copy; Software Mansion {new Date().getFullYear()}. All trademarks and
      copyrights belong to their respective owners.

      <Image src={SwmLogomarkSvg} alt="Software Mansion Logomark" />
    </div>
  </div>
</footer>

<!-- remove FooterLink -->
