---
import YoutubeSvg from "../assets/youtube.svg";
---



<div
	class="grid lg:grid-cols-2 grid-cols-1 lg:grid-rows-3 grid-rows-1 gap-5 relative"
>
	<div class="relative lg:col-span-2">
		<div
			class="bottom-1/40 inset-x-2 px-3 z-10 absolute flex items-center gap-3 bg-white h-16 text-blue-900"
		>
			<img
				src={YoutubeSvg.src}
				alt="Watch on YouTube"
				class="h-6 w-6"
				loading="lazy"
			/>
			<span
				>TypeGPU: enhance your WebGPU project with type-safe API & new
				way of writing shaders</span
			>
		</div>
		<iframe
			width="100%"
			height="315"
			src="https://www.youtube.com/embed/pBRLqJaG4kk?si=-xaSG_MET9-Q1ZfK"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>

	<div class="relative">
		<div
			class="bottom-1/40 inset-x-2 px-3 z-10 overflow-hidden absolute flex items-center gap-3 bg-white h-16 text-blue-900"
		>
			<img
				src={YoutubeSvg.src}
				alt="Watch on YouTube"
				class="h-6 w-6"
				loading="lazy"
			/>
			<span
				>TypeGPU: enhance your WebGPU project with type-safe API & new
				way of writing shaders</span
			>
		</div>
		<iframe
			width="100%"
			height="315"
			src="https://www.youtube.com/embed/71TO3OIgStM?si=y96EGOPGKv0lL1D7"
			title="YouTube video player"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>
	<div class="relative">
		<div
			class="bottom-1/40 inset-x-2 px-3 z-10 overflow-hidden absolute flex items-center gap-3 bg-white h-16 text-blue-900"
		>
			<img
				src={YoutubeSvg.src}
				alt="Watch on YouTube"
				class="h-6 w-6"
				loading="lazy"
			/>
			<span
				>TypeGPU: enhance your WebGPU project with type-safe API & new
				way of writing shaders</span
			>
		</div>
		<iframe
			width="100%"
			height="315"
			src="https://www.youtube.com/embed/QrHZXiXxu9A?si=CSaZznbx0hf3PlQj"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>
	<div class="relative">
		<div
			class="bottom-1/40 inset-x-2 px-3 z-10 overflow-hidden absolute flex items-center gap-3 bg-white h-16 text-blue-900"
		>
			<img
				src={YoutubeSvg.src}
				alt="Watch on YouTube"
				class="h-6 w-6"
				loading="lazy"
			/>
			<span
				>TypeGPU: enhance your WebGPU project with type-safe API & new
				way of writing shaders</span
			>
		</div>
		<iframe
			width="100%"
			height="315"
			src="https://www.youtube.com/embed/DysmnC1D2gQ?si=0pR77V9xatZdX2Co"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>
	<div class="relative">
		<div
			class="bottom-1/40 inset-x-2 px-3 z-10 overflow-hidden absolute flex items-center gap-3 bg-white h-16 text-blue-900"
		>
			<img
				src={YoutubeSvg.src}
				alt="Watch on YouTube"
				class="h-6 w-6"
				loading="lazy"
			/>
			<span
				>TypeGPU: enhance your WebGPU project with type-safe API & new
				way of writing shaders</span
			>
		</div>
		<iframe
			width="100%"
			height="315"
			src="https://www.youtube.com/embed/5PREvbHirEY?si=N2Cs3xn9IG8_Wh9g"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>
</div>
